.everything{
    min-height: 800px;
}
.title{
    text-align: center;
    font-style: italic;
    font-size: 4vw;
    font-weight: 900;
    -webkit-text-stroke: 3px;
    color: #00ADB5;

    padding-bottom: 80px;
    padding-top: 50px;
}

.permissions-container .checkbox-group {
    display: flex;
    flex-wrap: nowrap; 
    flex-direction: column;
    background-color: #393E46;
}

.checkbox-label{
    color: #EEEEEE;
}

mat-card, mat-card-content, mat-table, ng-container, mat-header-cell, mat-header-row, mat-cell, mat-form-field, mat-checkbox, mat-cell, ng-container, label{
    color: #EEEEEE !important;
    background-color: #393E46;
}

label.mdc-label {
    color: white !important;
}