<div class="everything">

    <p class="text1">
        LOGIN TO YOUR ACCOUNT
    </p>
    <div class="form1">
        <form (ngSubmit)="onLogin(f)" #f="ngForm">
            <div class="mb-3">
                <label for="logUsername" class="form-label">Enter Your Username</label>
                <input #u1="ngModel" type="text" name="logUsername" class="form-control input" id="logUsername" placeholder="username" ngModel required>
            </div>
            <div class="error">
                <span class="help-block" *ngIf="u1.invalid && u1.touched">*Input field is required*</span>
            </div>

            <div class="mb-3">
                <label for="logPassword" class="form-label">Enter Your Password</label>
                <input #p1="ngModel" type="password"  name="logPassword" class="form-control input" id="logPassword" placeholder="password" ngModel required>
            </div>
            <div class="error">
                <span class="help-block" *ngIf="p1.invalid && p1.touched">*Input field is required*</span>
            </div>
            <br>
            <div class="loginctn">
                <button type="submit" class="btn btn-primary big-button" [disabled]="f.invalid">Log in</button>
                <span class="or">Or</span>
                <button type="button" class="btn btn-primary loginbtn1" (click)="githubLogin()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="28" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                </svg> Continue with Github</button>
            </div>
            
        </form>
        

        <hr class="horizontal-line">


        <div class="">
            <p class="text2">
                DONT HAVE AN ACCOUNT? <br>
            </p>
            <p class="text3">SIGN UP INSTEAD</p>

            <div style="text-align: center; padding-bottom: 50px;">
                <form (ngSubmit)="onSignup(f1)" #f1="ngForm">
                    <div class="mb-3">
                        <label for="signUsername" class="form-label">Create A Username</label>
                        <input #u2="ngModel" type="text" name="signUsername" class="form-control input" id="signUsername" placeholder="eg. Njegos1389" ngModel required>
                    </div>
                    <div class="error">
                        <span class="help-block" *ngIf="u2.invalid && u2.touched">*Input field is required*</span>
                    </div>

                    <div class="mb-3">
                        <label for="signPassword" class="form-label">Create A Password</label>
                        <input #sp="ngModel" type="password" name="signPassword" class="form-control input" id="signPassword" placeholder="eg. 5tR0nGp@55worD" ngModel required>
                    </div>
                    <div class="error">
                        <span class="help-block" *ngIf="sp.invalid && sp.touched">*Input field is required*</span>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Your Email</label>
                        <input #e="ngModel" type="email" name="email" class="form-control input" id="email" placeholder="eg. darijo@gmail.com" ngModel required email>
                    </div>
                    <div class="error">
                        <span class="help-block" *ngIf="e.invalid && e.touched">*Input field is required*</span>
                    </div>

                    <button type="submit" class="btn btn-primary big-button signup-btn" [disabled]="f1.invalid">Sign up</button>

                </form>
            </div>
        </div>
    
    </div>




</div>
