* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222831;

    color: #9c9c9c;
}

.navbar{
    user-select: none;
    align-items: center;
    justify-content: center;
    height: 6vw;
    min-height: 50px;

    font-style: italic;
    font-size: 18px;
    letter-spacing: 4px;
}
